# Kickstarter Projects
#### More than 300,000 kickstarter projects
## About Dataset
### Context
I'm a crowdfunding enthusiast and i'm watching kickstarter since its early days. Right now I just collect data and the only app i've made is this twitter bot which tweet any project reaching some milestone: @bloomwatcher . I have a lot of other ideas, but sadly not enough time to develop them… But I hope you can!
### Content
You'll find most useful data for project analysis. Columns are self explanatory except:
- usd_pledged: conversion in US dollars of the pledged column (conversion done by kickstarter).
- usd pledge real: conversion in US dollars of the pledged column (conversion from Fixer.io API).
- usd goal real: conversion in US dollars of the goal column (conversion from Fixer.io API).
### Acknowledgements
Data are collected from Kickstarter Platform

usd conversion (usdpledgedreal and usdgoalreal columns) were generated from convert ks pledges to usd script done by tonyplaysguitar
### Inspiration
I hope to see great projects, and why not a model to predict if a project will be successful before it is released? :)

# First look at the data

In [191]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

data = pd.read_csv('data/ks-projects-201801.csv', index_col=0)

In [192]:
data.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [193]:
data.describe()

,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,3.786610e+05,3.786610e+05,378661.000000,3.748640e+05,3.786610e+05,3.786610e+05
mean,4.908079e+04,9.682979e+03,105.617476,7.036729e+03,9.058924e+03,4.545440e+04
std,1.183391e+06,9.563601e+04,907.185035,7.863975e+04,9.097334e+04,1.152950e+06
min,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e-02
25%,2.000000e+03,3.000000e+01,2.000000,1.698000e+01,3.100000e+01,2.000000e+03
50%,5.200000e+03,6.200000e+02,12.000000,3.947200e+02,6.243300e+02,5.500000e+03
75%,1.600000e+04,4.076000e+03,56.000000,3.034090e+03,4.050000e+03,1.550000e+04
max,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,2.033899e+07,1.663614e+08

In [194]:
data.describe(include='object')

,name,category,main_category,currency,deadline,launched,state,country
count,378657,378661,378661,378661,378661,378661,378661,378661
unique,375764,159,15,14,3164,378089,6,23
top,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08,1970-01-01 01:00:00,failed,US
freq,41,22314,63585,295365,705,7,197719,292627

In [195]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378661 entries, 1000002330 to 999988282
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              378657 non-null  object
 1   category          378661 non-null  object
 2   main_category     378661 non-null  object
 3   currency          378661 non-null  object
 4   deadline          378661 non-null  object
 5   goal              378661 non-null  float64
 6   launched          378661 non-null  object
 7   pledged           378661 non-null  float64
 8   state             378661 non-null  object
 9   backers           378661 non-null  int64
 10  country           378661 non-null  object
 11  usd pledged       374864 non-null  float64
 12  usd_pledged_real  378661 non-null  float64
 13  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(1), object(8)
memory usage: 43.3+ MB

In [196]:
data.isna().sum()

name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

We have some missing values, which we will impute in the next section

# Data preparation and cleaning

Let's make the deadline feature and launched features datetime fields

In [197]:
data['deadline'] = pd.to_datetime(data['deadline'])
data['launched'] = pd.to_datetime(data['launched'])

Here, I will get rid of missing values and drop features which are not explanatory

In [198]:
data.columns

Index(['name', 'category', 'main_category', 'currency', 'deadline', 'goal',
       'launched', 'pledged', 'state', 'backers', 'country', 'usd pledged',
       'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

Well, definitely, the feature name doesn't have any explanatory power

In [199]:
data.drop(['name'], inplace=True, axis=1)

Now let's impute missing values in usd_pledged

In [200]:
data['usd pledged'].fillna(data['usd pledged'].mean(), inplace=True)
data['usd pledged'].isna().sum()

0

Also let's look at state column, which occurs to be out target

In [201]:
data['state'].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended'], dtype=object)

So it looks like successful and live are some state of successful obviously, and others are some case of failure

In [202]:
data['state'].replace('canceled', 'failed', inplace=True)
data['state'].replace('live', 'successful', inplace=True)
data['state'].replace('undefined', 'failed', inplace=True)
data['state'].replace('suspended', 'failed', inplace=True)
data['state'].unique()

array(['failed', 'successful'], dtype=object)

And let's split the dataset into y and X, which are correspondingly target and features

In [203]:
y = data.pop('state')
X = data.copy()

In [204]:
y.head()

ID
1000002330    failed
1000003930    failed
1000004038    failed
1000007540    failed
1000011046    failed
Name: state, dtype: object

In [205]:
X.head()

,category,main_category,currency,deadline,goal,launched,pledged,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,
1000002330,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,0,GB,0.0,0.0,1533.95
1000003930,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,15,US,100.0,2421.0,30000.00
1000004038,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,3,US,220.0,220.0,45000.00
1000007540,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,1,US,1.0,1.0,5000.00
1000011046,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,14,US,1283.0,1283.0,19500.00

# Feature engineering, encoding and scaling

Let's make the datetime columns comprehensible to the model

In [206]:
X['deadline_year'] = X['deadline'].dt.year.astype(np.float64)
X['deadline_month'] = X['deadline'].dt.month.astype(np.float64)

X['launched_year'] = X['launched'].dt.year.astype(np.float64)
X['launched_month'] = X['launched'].dt.month.astype(np.float64)

X['project_time_length'] = (X['deadline'] - X['launched']).dt.days.astype(np.float64)
X.drop(['deadline', 'launched'], inplace=True, axis=1)
X.head(10)

,category,main_category,currency,goal,pledged,backers,country,usd pledged,usd_pledged_real,usd_goal_real,deadline_year,deadline_month,launched_year,launched_month,project_time_length
ID,,,,,,,,,,,,,,,
1000002330,Poetry,Publishing,GBP,1000.0,0.00,0,GB,0.00,0.00,1533.95,2015.0,10.0,2015.0,8.0,58.0
1000003930,Narrative Film,Film & Video,USD,30000.0,2421.00,15,US,100.00,2421.00,30000.00,2017.0,11.0,2017.0,9.0,59.0
1000004038,Narrative Film,Film & Video,USD,45000.0,220.00,3,US,220.00,220.00,45000.00,2013.0,2.0,2013.0,1.0,44.0
1000007540,Music,Music,USD,5000.0,1.00,1,US,1.00,1.00,5000.00,2012.0,4.0,2012.0,3.0,29.0
1000011046,Film & Video,Film & Video,USD,19500.0,1283.00,14,US,1283.00,1283.00,19500.00,2015.0,8.0,2015.0,7.0,55.0
1000014025,Restaurants,Food,USD,50000.0,52375.00,224,US,52375.00,52375.00,50000.00,2016.0,4.0,2016.0,2.0,34.0
1000023410,Food,Food,USD,1000.0,1205.00,16,US,1205.00,1205.00,1000.00,2014.0,12.0,2014.0,12.0,19.0
1000030581,Drinks,Food,USD,25000.0,453.00,40,US,453.00,453.00,25000.00,2016.0,3.0,2016.0,2.0,44.0
1000034518,Product Design,Design,USD,125000.0,8233.00,58,US,8233.00,8233.00,125000.00,2014.0,5.0,2014.0,4.0,34.0
100004195,Documentary,Film & Video,USD,65000.0,6240.57,43,US,6240.57,6240.57,65000.00,2014.0,8.0,2014.0,7.0,29.0

For encoding of the target I am going to use sklearn's ordinal encoder

In [207]:
from sklearn.preprocessing import OrdinalEncoder 
target_encoder = OrdinalEncoder()
y = pd.Series(target_encoder.fit_transform(y.values.reshape(-1,1)).reshape(1,-1)[0], index=y.index)
y.head(10)

ID
1000002330    0.0
1000003930    0.0
1000004038    0.0
1000007540    0.0
1000011046    0.0
1000014025    1.0
1000023410    1.0
1000030581    0.0
1000034518    0.0
100004195     0.0
dtype: float64

For others I am going to use one hot encoder

In [208]:
from sklearn.preprocessing import OneHotEncoder

cat_cols = [x for x in X.columns if X[x].dtype == 'object']
encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
encoded = pd.DataFrame(encoder.fit_transform(X.loc[:, cat_cols]), index=X.index)
X.drop(cat_cols, inplace=True, axis=1)
X = pd.concat([X, encoded], axis=1)
X.head()

,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real,deadline_year,deadline_month,launched_year,launched_month,...,201,202,203,204,205,206,207,208,209,210
ID,,,,,,,,,,,,,,,,,,,,,
1000002330,1000.0,0.0,0,0.0,0.0,1533.95,2015.0,10.0,2015.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000003930,30000.0,2421.0,15,100.0,2421.0,30000.00,2017.0,11.0,2017.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1000004038,45000.0,220.0,3,220.0,220.0,45000.00,2013.0,2.0,2013.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1000007540,5000.0,1.0,1,1.0,1.0,5000.00,2012.0,4.0,2012.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1000011046,19500.0,1283.0,14,1283.0,1283.0,19500.00,2015.0,8.0,2015.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

For scaling purposes I am going to use Standard Scaler

In [209]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = pd.DataFrame(scaler.fit_transform(X), index=X.index, columns=X.columns)
X.head()

,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real,deadline_year,deadline_month,launched_year,launched_month,...,201,202,203,204,205,206,207,208,209,210
ID,,,,,,,,,,,,,,,,,,,,,
1000002330,-0.040630,-0.101248,-0.116423,-0.089933,-0.099578,-0.038094,0.352985,0.981071,0.389063,0.461979,...,-0.010278,-0.012797,-0.068179,-0.100643,-0.087361,-0.043281,-0.061936,-0.068276,-0.038312,-1.844260
1000003930,-0.016124,-0.075934,-0.099889,-0.088655,-0.072966,-0.013404,1.392245,1.280244,1.423568,0.762268,...,-0.010278,-0.012797,-0.068179,-0.100643,-0.087361,-0.043281,-0.061936,-0.068276,-0.038312,0.542223
1000004038,-0.003448,-0.098948,-0.113117,-0.087121,-0.097160,-0.000394,-0.686274,-1.412315,-0.645443,-1.640042,...,-0.010278,-0.012797,-0.068179,-0.100643,-0.087361,-0.043281,-0.061936,-0.068276,-0.038312,0.542223
1000007540,-0.037250,-0.101238,-0.115321,-0.089920,-0.099567,-0.035088,-1.205904,-0.813969,-1.162696,-1.039464,...,-0.010278,-0.012797,-0.068179,-0.100643,-0.087361,-0.043281,-0.061936,-0.068276,-0.038312,0.542223
1000011046,-0.024997,-0.087833,-0.100991,-0.073535,-0.085475,-0.022511,0.352985,0.382724,0.389063,0.161690,...,-0.010278,-0.012797,-0.068179,-0.100643,-0.087361,-0.043281,-0.061936,-0.068276,-0.038312,0.542223

# Modeling

Let's split the data into training and testing sets

In [210]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X,y, shuffle=True, random_state=1)

And now let's train the model!

In [212]:
from tensorflow import keras
from tensorflow.keras import layers

model = keras.Sequential([
    layers.Dense(256, activation='relu', input_shape=[X.shape[1]]),
    layers.Dense(512, activation='relu'),  
    layers.Dense(256, activation='relu'),  
    layers.Dense(1, activation='sigmoid'),
])
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['binary_accuracy'],
)
early_stopping = keras.callbacks.EarlyStopping(
    patience=10,
    min_delta=0.001,
    restore_best_weights=True,
)

history = model.fit(
    X_train, y_train,
    validation_data=(X_valid, y_valid),
    batch_size=512,
    epochs=1000,
    callbacks=[early_stopping],
    verbose=1, # hide the output because we have so many epochs
)
history_df = pd.DataFrame(history.history)
# Start the plot at epoch 5
history_df.loc[5:, ['loss', 'val_loss']].plot()
history_df.loc[5:, ['binary_accuracy', 'val_binary_accuracy']].plot()
print(("Best Validation Loss: {:0.4f}" +\
      "\nBest Validation Accuracy: {:0.4f}")\
      .format(history_df['val_loss'].min(), 
              history_df['val_binary_accuracy'].max()))

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 283995 samples, validate on 94666 samples
Epoch 1/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.4338 - binary_accuracy: 0.8010 - val_loss: 0.3482 - val_binary_accuracy: 0.8490
Epoch 2/1000
283995/283995 [==============================] - 13s 47us/sample - loss: 0.3276 - binary_accuracy: 0.8603 - val_loss: 0.3169 - val_binary_accuracy: 0.8667
Epoch 3/1000
283995/283995 [==============================] - 14s 48us/sample - loss: 0.2904 - binary_accuracy: 0.8782 - val_loss: 0.2808 - val_binary_accuracy: 0.8797
Epoch 4/1000
283995/283995 [==============================] - 13s 47us/sample - loss: 0.2573 - binary_accuracy: 0.8938 - val_loss: 0.2606 - val_binary_accuracy: 0.8957
Epoch 5/1000
283995/283995 [==============================] - 13s 47us/sample - loss: 0.2325 - binary_accuracy: 0.9052 - val_loss: 0.2220 - val_binary_accuracy: 0.9111
Epoch 6/1000
283995/283995 [==============================] - 13s 46us/sample - loss: 0.2151 - binary_accuracy: 0.9137 - val_loss: 0.2190 - val_binary_accuracy: 0.9111
Epoch 7/1000
283995/283995 [==============================] - 13s 47us/sample - loss: 0.2038 - binary_accuracy: 0.9185 - val_loss: 0.2101 - val_binary_accuracy: 0.9159
Epoch 8/1000
283995/283995 [==============================] - 13s 47us/sample - loss: 0.1950 - binary_accuracy: 0.9220 - val_loss: 0.1982 - val_binary_accuracy: 0.9224
Epoch 9/1000
283995/283995 [==============================] - 17s 59us/sample - loss: 0.1865 - binary_accuracy: 0.9256 - val_loss: 0.1912 - val_binary_accuracy: 0.9265
Epoch 10/1000
283995/283995 [==============================] - 14s 48us/sample - loss: 0.1806 - binary_accuracy: 0.9281 - val_loss: 0.1824 - val_binary_accuracy: 0.9283
Epoch 11/1000
283995/283995 [==============================] - 14s 48us/sample - loss: 0.1777 - binary_accuracy: 0.9292 - val_loss: 0.1858 - val_binary_accuracy: 0.9260
Epoch 12/1000
283995/283995 [==============================] - 14s 48us/sample - loss: 0.1721 - binary_accuracy: 0.9316 - val_loss: 0.1754 - val_binary_accuracy: 0.9307
Epoch 13/1000
283995/283995 [==============================] - 14s 48us/sample - loss: 0.1702 - binary_accuracy: 0.9324 - val_loss: 0.1722 - val_binary_accuracy: 0.9340
Epoch 14/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1673 - binary_accuracy: 0.9342 - val_loss: 0.1850 - val_binary_accuracy: 0.9278
Epoch 15/1000
283995/283995 [==============================] - 14s 50us/sample - loss: 0.1642 - binary_accuracy: 0.9354 - val_loss: 0.1779 - val_binary_accuracy: 0.9310
Epoch 16/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1619 - binary_accuracy: 0.9361 - val_loss: 0.2000 - val_binary_accuracy: 0.9249
Epoch 17/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1593 - binary_accuracy: 0.9372 - val_loss: 0.1867 - val_binary_accuracy: 0.9272
Epoch 18/1000
283995/283995 [==============================] - 14s 48us/sample - loss: 0.1582 - binary_accuracy: 0.9370 - val_loss: 0.1754 - val_binary_accuracy: 0.9321
Epoch 19/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1539 - binary_accuracy: 0.9394 - val_loss: 0.1559 - val_binary_accuracy: 0.9392
Epoch 20/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1507 - binary_accuracy: 0.9407 - val_loss: 0.1671 - val_binary_accuracy: 0.9354
Epoch 21/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1506 - binary_accuracy: 0.9410 - val_loss: 0.1633 - val_binary_accuracy: 0.9370
Epoch 22/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1467 - binary_accuracy: 0.9425 - val_loss: 0.1586 - val_binary_accuracy: 0.9391
Epoch 23/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1463 - binary_accuracy: 0.9426 - val_loss: 0.1700 - val_binary_accuracy: 0.9320
Epoch 24/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1444 - binary_accuracy: 0.9436 - val_loss: 0.1656 - val_binary_accuracy: 0.9373
Epoch 25/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1431 - binary_accuracy: 0.9437 - val_loss: 0.1512 - val_binary_accuracy: 0.9426
Epoch 26/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1405 - binary_accuracy: 0.9450 - val_loss: 0.1500 - val_binary_accuracy: 0.9423
Epoch 27/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1398 - binary_accuracy: 0.9449 - val_loss: 0.1488 - val_binary_accuracy: 0.9438
Epoch 28/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1388 - binary_accuracy: 0.9459 - val_loss: 0.1574 - val_binary_accuracy: 0.9395
Epoch 29/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1378 - binary_accuracy: 0.9459 - val_loss: 0.1551 - val_binary_accuracy: 0.9425
Epoch 30/1000
283995/283995 [==============================] - 14s 50us/sample - loss: 0.1358 - binary_accuracy: 0.9467 - val_loss: 0.1768 - val_binary_accuracy: 0.9321
Epoch 31/1000
283995/283995 [==============================] - 14s 51us/sample - loss: 0.1366 - binary_accuracy: 0.9463 - val_loss: 0.1449 - val_binary_accuracy: 0.9459
Epoch 32/1000
283995/283995 [==============================] - 14s 50us/sample - loss: 0.1319 - binary_accuracy: 0.9484 - val_loss: 0.1471 - val_binary_accuracy: 0.9443
Epoch 33/1000
283995/283995 [==============================] - 14s 50us/sample - loss: 0.1334 - binary_accuracy: 0.9478 - val_loss: 0.1459 - val_binary_accuracy: 0.9444
Epoch 34/1000
283995/283995 [==============================] - 14s 50us/sample - loss: 0.1323 - binary_accuracy: 0.9479 - val_loss: 0.1478 - val_binary_accuracy: 0.9439
Epoch 35/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1304 - binary_accuracy: 0.9487 - val_loss: 0.1494 - val_binary_accuracy: 0.9435
Epoch 36/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1304 - binary_accuracy: 0.9489 - val_loss: 0.1453 - val_binary_accuracy: 0.9449
Epoch 37/1000
283995/283995 [==============================] - 14s 51us/sample - loss: 0.1278 - binary_accuracy: 0.9498 - val_loss: 0.1525 - val_binary_accuracy: 0.9418
Epoch 38/1000
283995/283995 [==============================] - 14s 50us/sample - loss: 0.1289 - binary_accuracy: 0.9495 - val_loss: 0.1580 - val_binary_accuracy: 0.9415
Epoch 39/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1277 - binary_accuracy: 0.9503 - val_loss: 0.1549 - val_binary_accuracy: 0.9414
Epoch 40/1000
283995/283995 [==============================] - 14s 49us/sample - loss: 0.1258 - binary_accuracy: 0.9503 - val_loss: 0.1416 - val_binary_accuracy: 0.9480
Epoch 41/1000
283995/283995 [==============================] - 15s 54us/sample - loss: 0.1241 - binary_accuracy: 0.9514 - val_loss: 0.1415 - val_binary_accuracy: 0.9467
Epoch 42/1000
283995/283995 [==============================] - 15s 51us/sample - loss: 0.1221 - binary_accuracy: 0.9521 - val_loss: 0.1506 - val_binary_accuracy: 0.9450
Epoch 43/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1242 - binary_accuracy: 0.9512 - val_loss: 0.1425 - val_binary_accuracy: 0.9463
Epoch 44/1000
283995/283995 [==============================] - 15s 51us/sample - loss: 0.1207 - binary_accuracy: 0.9528 - val_loss: 0.1351 - val_binary_accuracy: 0.9493
Epoch 45/1000
283995/283995 [==============================] - 15s 51us/sample - loss: 0.1194 - binary_accuracy: 0.9528 - val_loss: 0.1367 - val_binary_accuracy: 0.9495
Epoch 46/1000
283995/283995 [==============================] - 15s 51us/sample - loss: 0.1211 - binary_accuracy: 0.9525 - val_loss: 0.1438 - val_binary_accuracy: 0.9460
Epoch 47/1000
283995/283995 [==============================] - 14s 51us/sample - loss: 0.1184 - binary_accuracy: 0.9537 - val_loss: 0.1534 - val_binary_accuracy: 0.9431
Epoch 48/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1190 - binary_accuracy: 0.9533 - val_loss: 0.1435 - val_binary_accuracy: 0.9465
Epoch 49/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1186 - binary_accuracy: 0.9536 - val_loss: 0.1308 - val_binary_accuracy: 0.9519
Epoch 50/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1173 - binary_accuracy: 0.9540 - val_loss: 0.1379 - val_binary_accuracy: 0.9509
Epoch 51/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1154 - binary_accuracy: 0.9546 - val_loss: 0.1339 - val_binary_accuracy: 0.9511
Epoch 52/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1160 - binary_accuracy: 0.9546 - val_loss: 0.1516 - val_binary_accuracy: 0.9447
Epoch 53/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1149 - binary_accuracy: 0.9548 - val_loss: 0.1341 - val_binary_accuracy: 0.9509
Epoch 54/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1114 - binary_accuracy: 0.9561 - val_loss: 0.1327 - val_binary_accuracy: 0.9523
Epoch 55/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1132 - binary_accuracy: 0.9557 - val_loss: 0.1418 - val_binary_accuracy: 0.9490
Epoch 56/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1112 - binary_accuracy: 0.9567 - val_loss: 0.1443 - val_binary_accuracy: 0.9481
Epoch 57/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1124 - binary_accuracy: 0.9561 - val_loss: 0.1348 - val_binary_accuracy: 0.9522
Epoch 58/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1120 - binary_accuracy: 0.9562 - val_loss: 0.1319 - val_binary_accuracy: 0.9527
Epoch 59/1000
283995/283995 [==============================] - 15s 52us/sample - loss: 0.1103 - binary_accuracy: 0.9568 - val_loss: 0.1405 - val_binary_accuracy: 0.9502
Best Validation Loss: 0.1308
Best Validation Accuracy: 0.9527

In [213]:
model.evaluate(X_valid, y_valid)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
94666/94666 [==============================] - 6s 64us/sample - loss: 0.1308 - binary_accuracy: 0.9519

[0.1308456769762158, 0.9518729]